<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
          <a class="btn btn-primary" routerLink="/detalle">Nuevo Disco</a>
      </li>
      <li class="nav-item">
        <a class="btn">Salir</a>
      </li>
    </ul>
    <div class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" [(ngModel)]="this.textoFiltro" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" [hidden]="ocultarFiltro" (click)="filtrar()">Filtrar por Grupo</button>
      <button class="btn btn-outline-success my-2 my-sm-0" [hidden]="ocultarLimpiar" (click)="limpiar()">Quitar Filtro</button>
    </div>
  </div>
</nav>
